<div>   
    <div class="row">
		<div class="col-lg-12">
			<div class="page-header">
	            <h1> Home</h1> 
	            <h3>General view of nodes</h3>
	        </div>
        </div>
    </div>
    	    	<span>
	    		<ng-search name="Hostname :" model="search.hostname"></ng-search>
				<ng-search name="CPU ID :" model="search.CPU_ID"></ng-search>
				<ng-search name="Core ID :" model="search.Core_ID"></ng-search>
				<ng-search name="State :" model="search.State"></ng-search>
	    	</span>
    <table class="table">
    		<tr>
    			<td>hostname</td>
	    		<td></td><td>CPU ID</td>
	    		<td></td><td>Core ID</td>
	    		<td></td><td></td>
	    		<td></td><td>State</td>
	    		<td></td><td>Properties</td>
	    	</tr>
	    <tbody>
	    	<tr ng-repeat="node in all | orderBy:order | filter:search">
	    		<td class="center"><button class="btn btn-default">{{node.hostname}}</button></td>
				<td></td><td class="center"><button class="btn btn-default">{{node.CPU_ID}}</button></td>
				<td></td><td class="center"><button class="btn btn-default">{{node.Core_ID}}</button></td>
				<td></td><td class="center">
					<button ng-show="node.Alive" class="btn btn-success">Alive</button>
					<button ng-hide="node.Alive" class="btn btn-danger">Dead</button>
				</td>
				<td></td><td class="center">
					<button ng-show="node.State=='Busy'" class="btn btn-warning">{{node.State}}</button>
					<button ng-show="node.State=='Free'" class="btn btn-success">{{node.State}}</button>
					<button ng-show="node.State=='Dead'" class="btn btn-danger">{{node.State}}</button>
				</td>

				<td></td><td class="center"><button ui-sref="dashboard.infoRSC({core:node.Core_ID})" class="btn btn-info" ng-click="getProperties(node)">Properties</button></td>
				<td></td><td ng-show="user=='docker'"><button ui-sref="dashboard.create" class="btn btn-primary" ng-click="sendJob(node)">Send a job</button></td>
				<td></td><td ng-show="user=='docker'"><button class="btn btn-danger" ng-click="deleteRSC($index)">Delete this resource</button></td>
	    	</tr>
    </table>
</div>
<!--
	<ng-node node="node" sendJob="sendJob($index)" getProperties="getProperties($index)" deleteRSC="deleteRSC($index)"></ng-node>
-->