<div>   
    <div class="row">
		<div class="col-lg-12">
			<div class="page-header">
	            <h1> Home</h1> 
	            <h3>General view of resources</h3>
	        </div>
        </div>
    </div>

    <ng-search name="Hostname :" model="search.network_address"></ng-search>
	<ng-search name="ID :" model="search.id"></ng-search>
	<label>State :</label>
		<span>
			<input type="radio" name="options" id="option1" ng-model="search.state" value="Alive">Alive
			<input type="radio" name="options" id="option2" ng-model="search.state" value="Absent">Absent
		   	<input type="radio" name="options" id="option3" ng-model="search.state" value="Dead">Dead
		   	<input type="radio" name="options" id="option4" ng-model="search.state" value="">All
    	</span>

    <table class="table">
    		<tr>
    			<td class="center">Hostname</td>
    			<td></td><td class="center">RSC ID</td>
	    		<td></td><td class="center">CPU ID</td>
	    		<td></td><td class="center">CORE ID</td>
	    		<td></td><td class="center">State</td>
	    		<td></td><td class="center">Properties</td><td></td><td></td>
	    	</tr>
	    <tbody>
	    	<tr ng-repeat="rsc in resources | orderBy:order | filter:search">
	    		<td class="center"><button ui-sref="dashboard.infoNode({network_address:rsc.network_address})" class="btn btn-default">{{rsc.network_address}}</button></td>
	    		<td></td><td class="center"><button class="btn btn-default">{{rsc.id}}</button></td>
				<td></td><td class="center"><button class="btn btn-default">{{rsc.cpu}}</button></td>
				<td></td><td class="center"><button class="btn btn-default">{{rsc.core}}</button></td>
				<td></td><td class="center">
					<button ng-show="rsc.state=='Alive'" class="btn btn-success">Alive</button>
					<button ng-show="rsc.state=='Absent'" class="btn btn-warning">Absent</button>
					<button ng-show="rsc.state=='Dead'" class="btn btn-danger">Dead</button>
				</td>
				<td></td><td class="center"><button ui-sref="dashboard.infoRSC({id:rsc.id})" class="btn btn-info">Properties</button></td>
				<td></td><td ng-show="username=='docker'"><button ui-sref="dashboard.create" class="btn btn-primary" ng-controller="CreateCtrl" ng-click="init(rsc.id)">Send a job</button></td>
				<td></td><td ng-show="username=='oar'"><button class="btn btn-danger" ng-click="test(rsc.id)">Delete this resource</button></td>
	    	</tr>
    </table>
</div>
<!--
	<ng-rsc rsc="rsc" sendJob="sendJob($index)" getProperties="getProperties($index)" deleteRSC="deleteRSC($index)"></ng-rsc>
-->