<td class="center"><button class="btn btn-default">{{node.hostname}}</button></td>
<td></td><td class="center"><button class="btn btn-default">{{node.CPU_ID}}</button></td>
<td></td><td class="center"><button class="btn btn-default">{{node.Core_ID}}</button></td>
<td></td><td class="center"><button class="btn btn-default">{{node.RSC_ID}}</button></td>
<td></td><td class="center">
	<button ng-show="node.Alive" class="btn btn-success">Alive</button>
	<button ng-hide="node.Alive" class="btn btn-danger">Dead</button>
</td>
<td></td><td class="center">
	<button ng-show="node.State=='Busy'" class="btn btn-warning">{{node.State}}</button>
	<button ng-show="node.State=='Free'" class="btn btn-success">{{node.State}}</button>
	<button ng-show="node.State=='Dead'" class="btn btn-danger">{{node.State}}</button>
</td>

<td></td><td class="center"><button class="btn btn-info" ng-click="getProperties($index)">Properties</button></td>
<td></td><td ng-show="user=='docker'"><button ui-sref="dashboard.create" class="btn btn-primary" ng-click="sendJob($index)">Send a job</button></td>
<td></td><td ng-show="user=='docker'"><button class="btn btn-danger" ng-click="deleteRSC($index)">Delete this resource</button></td>