<div class="container theme-showcase" role ="main">
	<div class="page-header">
	    <h1>Create job</h1>
	</div>
	<div class="row">
	    <div class="col-md-6">
		<h3>Parameters</h3>
   		<form>
                  <p>Name 
      		  	<input type="text" name="name" size="50" placeholder="new_job" ng-model="newJob.name">
      		</p>  
                  <p>Resources
                  	<input type="text" name="resource" size="50" placeholder="core=1,walltime=00:30:00" ng-model="newJob.resource" required>
                  </p>
                  <p>Type
                  	<input type="text" name="property" size="50" placeholder="" ng-model="newJob.property">
                  </p>
                  <p>Program to run 
                  	<input type="text" name="command" size="50" placeholder="sleep 1000" ng-model="newJob.command" required>
                  </p>
                  <p>Reservation dates 
                  	<input type="text" name="reservation" size="50" placeholder="2016-03-21 13:44:55" ng-model="newJob.reservation">
                  </p>
                  <p>Directory 
                  	<input type="text" name="directory" size="50" placeholder="/home" ng-model="newJob.directory" required>
                  </p>
                  <button class="btn btn-success fa fa-file-o" ng-click="createJob(newJob)"> Create the job</button>
            </form>
	    </div>
	</div>
</div>

