<div ng-show="username=='docker'" class="container theme-showcase" role ="main">
	<div class="page-header">
	    <h1>Create job</h1>
	</div>
	<div class="row">
	    <div class="col-md-6">
		<h3>Parameters</h3>
   		<form>
                  <p>Name 
      		  	<input type="text" name="name" size="50" placeholder="new_job" ng-model="newJob.name">
      		</p>  
                  <p>Resource
                  	<input type="text" name="resource" size="50" placeholder="core=1,walltime=00:30:00" ng-model="newJob.resource">
                  </p>
                  <p>Command 
                        <input type="text" name="command" size="50" placeholder="sleep 1000" ng-model="newJob.command">
                  </p>
                  <p>Type
                  	<input type="text" size="50" placeholder="besteffort" ng-model="newJob.type[0]">
                        <input ng-repeat="i in tabn2" type="text" size="50" placeholder="timesharing" ng-model="newJob.type[i]">
                        <button class="btn btn-primary fa fa-plus" ng-click="addType()">Add</button>
                  </p>
                  <p>Directory 
                  	<input type="text" name="directory" size="50" placeholder="/home" ng-model="newJob.workdir">
                  </p>
                  <button class="btn btn-success fa fa-file-o" ng-click="createJob(newJob)"> Create the job</button>
            </form>
	    </div>
	</div>
</div>
<ng-error text="You aren't logged as docker ! You can't access to this page !" hide="username=='docker'"></ng-error>