<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
	    <li ng-class="{active:collapseVar==4}">
		<a href="" ng-click="check(4)"><i class="fa fa-user"></i> {{username}}<span
		        class="fa arrow"></span></a>
		<ul class="nav nav-second-level" collapse="collapseVar!=4">
		    <button ui-sref="dashboard.home" ng-show="logged"  class="btn btn-lg btn-danger btn-block fa fa-sign-out" ng-click="logout()"> Logout</button>
		    <form ng-show="!logged">	
			<fieldset>
			    <div class="form-group">
				<input class="form-control" placeholder="Login" name="login" type="login" autofocus ng-model="newusername">
			    </div>
			    <div class="form-group">
				<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    </div>
			    <div class="checkbox">
				<label>
				    <input name="remember" type="checkbox" value="Remember Me">Remember Me
				</label>
			    </div>
			    <!-- Change this to a button or input when using this as a form -->
			    <button ui-sref="dashboard.home" class="btn btn-lg btn-success btn-block" ng-click="login()">Login</button>
			</fieldset>
		     </form>
		     
		   </ul>
		<!-- /.nav-second-level -->
	    </li>

            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><i class="fa fa-dashboard fa-fw"></i> Home</a>
            </li>
            <li ui-sref-active="active">

                <a ui-sref="dashboard.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

	    <li ng-class="{active:collapseVar==5}">
		<a href="" ng-click="check(5)"><i class="fa fa-external-link "></i> Links<span
		        class="fa arrow"></span></a>
		<ul class="nav nav-second-level" collapse="collapseVar!=5">
			   <li><a href="http://oar.imag.fr/"> OAR</a></li>
			   <li><a href="http://air.imag.fr/"> AIR IMAG</a></li>
			   <li><a href="https://github.com/MatthieuCrouzet/Projet4A.git"> GitHub</a></li>
		</ul>
		<!-- /.nav-second-level -->
	    </li>
	    <li>
	    	<a><i class="fa fa-search"></i> Information search</a>
	    	<sidebar-search><sidebar-search>
	    </li>
		
        </ul> 
    </div>
    
    <!-- /.sidebar-collapse -->
</div> 



