<div class="col-lg-12">
    <h1 class="page-header">Create a machine</h1>
</div>
<!-- /.col-lg-12 -->
<div>
    <ul>
    <input placeholder="chart id"  ng-model="newChart.id">
    <input placeholder="chart name" ng-model="newChart.name">
    <input placeholder="chart type"  ng-model="newChart.type">
    <button class="btn btn-success fa fa-save" ng-click="create()"> Create</button>

   </ul>
</div>
<div ng-show="created">
    <div ng-show="lastCreated.displayed">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> {{lastCreated.name}}
                    <!--<button type="button" ng-click="deleteChart($index)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>-->
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-base" chart-type="lastCreated.type" data="lastCreated.data" labels="lastCreated.labels" legend="true" click="lastCreated.onClick" series="lastCreated.series"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header"> All informations</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div ng-repeat="chart in charts">
    <div ng-show="chart.displayed">
        <div class="col-lg-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"> {{chart.name}}
                    <button type="button" ng-click="deleteChart($index)" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                </div>
                <div class="panel-body">
                    <canvas class="chart chart-base" chart-type="chart.type" data="chart.data" labels="chart.labels" legend="true" click="chart.onClick" series="chart.series"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
